.project-top-container{
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 3%;
}

.project-urls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:28%;
    min-width: 150px;
    max-width: 500px;
}

.project-title-techstack{
    font-size: 1.5rem;
}

.project-techstack{
    font-size : 1rem;
}

.project-urls{
    max-width: 150px;
}