.project-urls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:28%;
    min-width: 150px;
    max-width: 150px;
}

.project-techstack{
    font-size : 1rem;
}
